.branch{
    height: 30%;
    text-align: left;
    width: 80%;
    min-width: 700px;
    max-width: 1200px;
    display: flex;
    margin-top: 3%;
    padding: 2%;
    border: 2px solid rgb(116, 216, 82);
    background-color: rgba(114, 183, 122, 0.25);
    box-shadow: 0 0 20px 15px rgba(0, 0, 0, 0.25);
    background-image: repeating-linear-gradient(90deg, hsla(168,0%,63%,0.09) 0px, hsla(168,0%,63%,0.09) 1px,transparent 1px, transparent 96px),repeating-linear-gradient(0deg, hsla(168,0%,63%,0.09) 0px, hsla(168,0%,63%,0.09) 1px,transparent 1px, transparent 96px),repeating-linear-gradient(0deg, hsla(168,0%,63%,0.09) 0px, hsla(168,0%,63%,0.09) 1px,transparent 1px, transparent 12px),repeating-linear-gradient(90deg, hsla(168,0%,63%,0.09) 0px, hsla(168,0%,63%,0.09) 1px,transparent 1px, transparent 12px),linear-gradient(90deg, rgb(20,20,20),rgb(20,20,20));
    transition: fade-in;
}

.text-info{
    width: 70%
}

.branch-img{
    width: 20%;
    margin-left: 10%;
}

.branch-title{
    font-size: x-large;
}

.branch-text{
    font-size: large;
}
 